body {
    background-color: #eee;
}

#message {
    width: 400px;
    background-color: #ddaaaa;
    padding: 20px;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ff7777;
    font-weight: bold;
    opacity: 0;
    transition: opacity .7s;
}

#message.show {
    opacity: 1;
    transition: opacity .7s;
}

#colour-changer {
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background-color: #fff;
    transition: background .7s;
}